# Files used by vim
.*.swp
vim/autoload/plug.vim.old
vim/.netrwhist

# Vim plugins (handled by vim-plug)
vim/plugged/*

# Tmux plugins (handled by tpm)
tmux/plugins

# Karabiner backups
karabiner/automatic_backups

# Homebrew lock file
Brewfile.lock.json

# Python cache
*.pyc

# Misc
.DS_Store
