[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot

[submodule "base16-shell"]
    path = base16/base16-shell
    url = https://github.com/chriskempson/base16-shell

[submodule "base16-vim"]
    path = vim/plugged/base16-vim
    url = https://github.com/chriskempson/base16-vim

[submodule "vim-sensible"]
    path = vim/plugged/vim-sensible
    url = https://github.com/tpope/vim-sensible

[submodule "vim-pandoc"]
    path = vim/plugged/vim-pandoc
    url = https://github.com/vim-pandoc/vim-pandoc

[submodule "vim-pandoc-syntax"]
    path = vim/plugged/vim-pandoc-syntax
    url = https://github.com/vim-pandoc/vim-pandoc-syntax

[submodule "vim-bracketed-paste"]
    path = vim/plugged/vim-bracketed-paste
    url = https://github.com/ConradIrwin/vim-bracketed-paste
