snippet is "is.New" b
is := is.New(t)
endsnippet

snippet trun "t.Run" b
t.Run("${1:name}", func(t *testing.T) {
	$0
})
endsnippet

# Redefined to allow mid-line expansion
snippet in "interface{}" w
interface{}
endsnippet

snippet ern "if err != nil {" b
if err != nil {
	${1:return err}
}
${0}
endsnippet
